<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="API_USERNAME" value="Username"/>
  <add key="API_PASSWORD" value="Password"/>
  <add key="ApiBaseURL" value="https://cms-ssd.azurewebsites.net/"/>
  <add key="AdminLogin" value="admin"/>
  <add key="AdminPassword" value="admin"/>
</appSettings>