<?xml version="1.0"?>
<connectionStrings>
<add name="cmsEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:ssd-cms.database.windows.net,1433;Initial Catalog=cms;Persist Security Info=False;User ID=usercms;Password=Userpass1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
