<?xml version="1.0"?>
<connectionStrings>
  <add name="cmsEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=KINGA-PC\SQLEXPRESS;initial catalog=cms;persist security info=True;user id=usercms; password=userpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
