@model CMS.BE.Models.Program.ConferencesModel

@{
    ViewBag.Title = "Conferences";
}

<div>
    <img style="float:left" ; src="/Assets/CMSLogo.png" alt="Logo" />
    <div style="float:left; padding-top:13px" ;>
        <h4 style="font-weight:bold">Conference</h4>
        <h4 style="font-weight:bold">Managment</h4>
        <h4 style="font-weight:bold">System</h4>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Conferences</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id </th>
        <th>Conference </th>
        <th>Visit</th>
    </tr>
    @foreach (var m in Model.Conferences)
    {
        <tr>
            <td>@m.ConferenceId</td>
            <td>@m.ConferenceDesc</td>
            <td>
                <a href="@Url.Action("ConferenceProgram", "Web", new { id = m.ConferenceId})">
                    Details
                </a>
            </td>
        </tr>
    }
</table>


